html, body{
  margin: 0;
  padding: 0;
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#main {
	max-height: 80%;
	overflow-Y: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

button {
	min-width: 50px;
	min-height: 50px;
}

#history span:first-of-type { 
  background-color: red;
}

#history {
	word-break:break-all;
}
